.dhubb__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 20rem;
}

.dhubb__navbar-links {
    flex:1;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.dhubb__navbar-links_logo {
    margin-right:40rem;

}
.dhubb__navbar-links_logo img {
    width:258px;
    height:33px;
    

}
.dhubb__navbar-links_containers {
    display: flex;
    flex-direction:row;
}
.dhubb__navbar-links_containers p{ 
    width: 40px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-transform: capitalize;
    margin:0 1rem;
    cursor: pointer;
    margin-right:0 1rem;
}

.dhubb__navbar-sign button {
    width: 85px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    border-radius: 18px;
    background: rgba(0, 178, 255, 0.60);
    mix-blend-mode: darken;
    border:0.0000125;
    outline: none;
    cursor: pointer;
}